<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.zj.dao.TbSanswerPaperStudentMapper" >
  <resultMap id="BaseResultMap" type="com.xawl.zj.pojo.TbSanswerPaperStudent" >
    <id column="sapaid" property="sapaid" jdbcType="INTEGER" />
    <result column="said" property="said" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="CHAR" />
    <result column="paid" property="paid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sapaid, said, answer, paid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sanswer_paper_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sanswer_paper_student
    where sapaid = #{sapaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sanswer_paper_student
    where sapaid = #{sapaid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudentExample" >
    delete from tb_sanswer_paper_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudent" >
    insert into tb_sanswer_paper_student (sapaid, said, answer, 
      paid)
    values (#{sapaid,jdbcType=INTEGER}, #{said,jdbcType=INTEGER}, #{answer,jdbcType=CHAR}, 
      #{paid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudent" >
    insert into tb_sanswer_paper_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sapaid != null" >
        sapaid,
      </if>
      <if test="said != null" >
        said,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="paid != null" >
        paid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sapaid != null" >
        #{sapaid,jdbcType=INTEGER},
      </if>
      <if test="said != null" >
        #{said,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=CHAR},
      </if>
      <if test="paid != null" >
        #{paid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudentExample" resultType="java.lang.Integer" >
    select count(*) from tb_sanswer_paper_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sanswer_paper_student
    <set >
      <if test="record.sapaid != null" >
        sapaid = #{record.sapaid,jdbcType=INTEGER},
      </if>
      <if test="record.said != null" >
        said = #{record.said,jdbcType=INTEGER},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=CHAR},
      </if>
      <if test="record.paid != null" >
        paid = #{record.paid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sanswer_paper_student
    set sapaid = #{record.sapaid,jdbcType=INTEGER},
      said = #{record.said,jdbcType=INTEGER},
      answer = #{record.answer,jdbcType=CHAR},
      paid = #{record.paid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudent" >
    update tb_sanswer_paper_student
    <set >
      <if test="said != null" >
        said = #{said,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=CHAR},
      </if>
      <if test="paid != null" >
        paid = #{paid,jdbcType=INTEGER},
      </if>
    </set>
    where sapaid = #{sapaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.zj.pojo.TbSanswerPaperStudent" >
    update tb_sanswer_paper_student
    set said = #{said,jdbcType=INTEGER},
      answer = #{answer,jdbcType=CHAR},
      paid = #{paid,jdbcType=INTEGER}
    where sapaid = #{sapaid,jdbcType=INTEGER}
  </update>
</mapper>