<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.zj.dao.TbStudentMapper" >
  <resultMap id="BaseResultMap" type="com.xawl.zj.pojo.TbStudent" >
    <id column="snum" property="snum" jdbcType="CHAR" />
    <result column="sname" property="sname" jdbcType="CHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="spass" property="spass" jdbcType="CHAR" />
    <result column="token" property="token" jdbcType="CHAR" />
    <result column="tokenpass" property="tokenpass" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    snum, sname, cid, spass, token, tokenpass
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xawl.zj.pojo.TbStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where snum = #{snum,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_student
    where snum = #{snum,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xawl.zj.pojo.TbStudentExample" >
    delete from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xawl.zj.pojo.TbStudent" >
    insert into tb_student (snum, sname, cid, spass, 
      token, tokenpass)
    values (#{snum,jdbcType=CHAR}, #{sname,jdbcType=CHAR}, #{cid,jdbcType=INTEGER}, #{spass,jdbcType=CHAR}, 
      #{token,jdbcType=CHAR}, #{tokenpass,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.zj.pojo.TbStudent" >
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="snum != null" >
        snum,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="spass != null" >
        spass,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="tokenpass != null" >
        tokenpass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="snum != null" >
        #{snum,jdbcType=CHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=CHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="spass != null" >
        #{spass,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=CHAR},
      </if>
      <if test="tokenpass != null" >
        #{tokenpass,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xawl.zj.pojo.TbStudentExample" resultType="java.lang.Integer" >
    select count(*) from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_student
    <set >
      <if test="record.snum != null" >
        snum = #{record.snum,jdbcType=CHAR},
      </if>
      <if test="record.sname != null" >
        sname = #{record.sname,jdbcType=CHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.spass != null" >
        spass = #{record.spass,jdbcType=CHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=CHAR},
      </if>
      <if test="record.tokenpass != null" >
        tokenpass = #{record.tokenpass,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_student
    set snum = #{record.snum,jdbcType=CHAR},
      sname = #{record.sname,jdbcType=CHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      spass = #{record.spass,jdbcType=CHAR},
      token = #{record.token,jdbcType=CHAR},
      tokenpass = #{record.tokenpass,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.zj.pojo.TbStudent" >
    update tb_student
    <set >
      <if test="sname != null" >
        sname = #{sname,jdbcType=CHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="spass != null" >
        spass = #{spass,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="tokenpass != null" >
        tokenpass = #{tokenpass,jdbcType=CHAR},
      </if>
    </set>
    where snum = #{snum,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.zj.pojo.TbStudent" >
    update tb_student
    set sname = #{sname,jdbcType=CHAR},
      cid = #{cid,jdbcType=INTEGER},
      spass = #{spass,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      tokenpass = #{tokenpass,jdbcType=CHAR}
    where snum = #{snum,jdbcType=CHAR}
  </update>
</mapper>